<div class="dashboard-container">
  <div class="sidebar">
    <h2 class="p-3">Panel</h2>
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/administradores" routerLinkActive="active">
          Administradores
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/operadores" routerLinkActive="active">
          Operadores
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/clientes" routerLinkActive="active">
          Clientes
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/domiciliarios" routerLinkActive="active">
          Domiciliarios
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/comidas" routerLinkActive="active">
          Comidas
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/adicionales" routerLinkActive="active">
          Adicionales
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/pedidos" routerLinkActive="active">
          Pedidos
        </a>
      </li>

    </ul>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
