<header [ngClass]="headerClass">
  <nav
    class="container-fluid d-flex justify-content-between align-items-center position-relative"
  >
    <ul class="navbar-nav flex-row gap-4 left-menu">
      <li class="nav-item">
        <a class="nav-link" routerLink="/menu">Menú</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/restaurantes">Restaurantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" fragment="sobre-nosotros"
          >Nosotros</a
        >
      </li>
    </ul>

    <a
      class="navbar-brand logo-central position-absolute top-50 start-50 translate-middle"
      routerLink="/home"
    >
      <img src="assets/images/logoGruta.png" alt="Logo La Gruta Nera" />
    </a>

    <ul class="navbar-nav flex-row gap-4 right-menu align-items-center">
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          (click)="scrollToFragment($event, 'footer')"
          >Contacto</a
        >
      </li>

      <li
        class="nav-item"
        *ngIf="(isLoggedIn$ | async) && (role$ | async) === 'ADMIN'"
      >
        <a class="nav-link btn btn-reserva-header" routerLink="/comidas/admin"
          >Dashboard</a
        >
      </li>

      <li class="nav-item" *ngIf="!(isLoggedIn$ | async)">
        <a class="nav-link btn btn-reserva-header" routerLink="/login">Login</a>
      </li>

      <li class="nav-item dropdown" *ngIf="isLoggedIn$ | async">
        <a
          href="#"
          class="nav-link dropdown-toggle d-flex align-items-center"
          id="profileDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="assets/images/perfil.png"
            alt="Perfil"
            class="rounded-circle"
            style="width: 40px; height: 40px"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end shadow-lg"
          aria-labelledby="profileDropdown"
        >
          <li class="dropdown-item-text fw-bold">
            {{ (username$ | async) || "Usuario" }}
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" routerLink="/profile/edit/1"
              >Editar Perfil</a
            >
          </li>
          <li>
            <button class="dropdown-item" (click)="logout()">
              Cerrar sesión
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
