<section class="login-section">
  <div class="login-overlay"></div>

  <div class="login-box">
    <h2>Crear Cuenta</h2>

    <form (ngSubmit)="register()" #registerForm="ngForm">
      <input
        type="text"
        class="form-control"
        name="username"
        [(ngModel)]="user.username"
        placeholder="Usuario"
        required
      />

      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="user.password"
        placeholder="Contraseña"
        required
      />

      <div class="mt-3 text-start">
        <label><input type="radio" name="role" [(ngModel)]="user.role" value="CLIENTE" required /> Cliente</label><br />
        <label><input type="radio" name="role" [(ngModel)]="user.role" value="DOMICILIARIO" required /> Domiciliario</label>
      </div>

      <button
        type="submit"
        class="btn btn-login w-100 mt-3"
        [disabled]="!registerForm.form.valid"
      >
        Continuar
      </button>

      <p *ngIf="errorMsg" class="error mt-2">{{ errorMsg }}</p>
      <p *ngIf="successMsg" class="success mt-2">{{ successMsg }}</p>
    </form>

    <div class="mt-3 text-center">
      <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
    </div>
  </div>
</section>
